@{
    ViewBag.Title = "Index";
}

@model PagedList.IPagedList<Assignment3.Models.GradeModel>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Grades";
}

<h2>Grades</h2>


<table class="table">
    <tr>
        <th>
            Student Name
        </th>
        <th>
            Grade
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.m_Item1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.m_Item2)
            </td>
        </tr>
    }

</table>
<br />

<div>
    @Html.ActionLink("Back to List", "AssignmentsIndex")
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))